/Ref-Out/Example/.vs
/Ref-Out/Example/Example/bin
/Ref-Out/Example/Example/obj
/Ref-Out/Example2ValueTypes/.vs
/Ref-Out/Example2ValueTypes/Example2ValueTypes/bin
/Ref-Out/Example2ValueTypes/Example2ValueTypes/obj
/Ref-Out/Example3ReferentType/.vs
/Ref-Out/Example3ReferentType/Example3ReferentType/bin
/Ref-Out/Example3ReferentType/Example3ReferentType/obj
